/* default */

body {
    margin: 0 auto;
    font-family: Roboto;
}

p {
    font-family: Roboto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    margin: 0 8px;
    text-decoration: none;
    color: #E5e7eb;
}

p {
    padding: 0;
    margin: 0;
}

button:hover {
    cursor: pointer;
}

/* style */

.container{
    display: flex;
    flex-direction: column;
}

.header {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 48px;
    background-color: #1F2937;
    max-height: 400px;
    padding: 24px 180px;
}

.section1{
    display: flex;
    justify-content: space-between;
}

.section1-left{
    color: white;
    font-size: 18px;
}

.section1-left img {
    width: 40px;
    height: 40px;
}

.section1-right{
    font-size: 12px;
    color: #e5e7eb;
}

.section2 {
    display: flex;
    justify-content: space-between;
}

.section2-left{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 12px;
}

.section2-left .title{
    font-size: 18px;
    color: #F9FaF8;
    font-weight: 900;
}

.section2-left .description{
    max-width: 300px;
    font-size: 12px;
    color: #e5e7eb;
    line-height: 1.4;
}

.section2-left button {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    border: 0px;
    padding: 6px 24px;
}

.section2-left button:hover{
    transition: 0.12s;
    background-color: #72a0eb;
}

div .section2-right{
    width: 360px; /* template for width*/
}

.section2-right {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #e5e7eb67;
}

.section2-right .banner {
    height: auto;
    width: 360px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content1 {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content1 .title {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 18px;
}

.image{
    display: flex;
    gap: 16px;
    margin-bottom: 8px;
}
.profile {
    box-sizing:  border-box;
    border: 2px solid rgb(38, 92, 255);
    width: 120px;
    height: 120px;
}
.description{
    display: flex;
    gap: 16px;
}

.image, .description{
    flex-wrap: wrap;
}

.profileDesc{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    color: rgba(0, 0, 0, 0.626);
    width: 120px;
    font-size: 12px;
    text-align: center;
    font-weight: 600;
}

.content2{
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #bebec067;
    width: 100%;
    height: 250px;
    gap: 8px;
}

.content2 .description{
    max-width: 380px;
}

.description {
    font-size: 16px;
}

.content2 .writer{
    margin-left: 200px;
}

.content2 .byWho{
    font-weight: 900;
    font-size: 14px;
    color: #3f4246;
}

.content3{
    color: white;
    margin-top: 48px;
    margin-bottom: 180px;
    display: flex;
    flex-direction: column;
    background-color: #4e8ef4;
    height: 120px;
}

.content3 .signUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 36px 48px;
}

.content3-title{
    font-weight: 900;
    font-size: 18px;
}

.content3-description{
    display: flex;
    justify-content: space-between;
    max-width: 900px;
}

.content3-description button {
    color: white;
    background-color: #4e8ef4;
    font-weight: 600;
    border: 1px white solid;
    border-radius: 3px;
    padding: 4px 22px;
    margin-left: 84px;
}

.content3-description button:hover{
    transition: 0.12s;
    background-color: #6b9ff3;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1F2937;
    height: 80px;
}